<div class="ui small inverted menu">
  <div class="ui container">
    <%= link_to 'Chatroom', root_path, class: 'item' %>
    <a class="item"> Messages </a>
    <div class="right menu">
      <% unless logged_in? %>
        <div class="item">
          <div class="ui buttons">
            <%= link_to signup_path do %>
              <button class="ui inverted orange button">Sign up</button>
            <% end %>

            <div class="or"></div>
            <%= link_to login_path do %>
              <button class="ui orange button">Log in</button>
            <% end %>
          </div>
        </div>
      <% else %>
        <div class="ui middle aligned centered grid relaxed">
          <div class="row">
            <%=
              link_to current_user.username.capitalize,
                      edit_user_path(current_user),
                      class: 'ui inverted header column '
            %>
            <%= link_to logout_path, data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } do %>
              <div class="item column">
                <div class="ui inverted red button">Log out</div>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
