<div class="ui small inverted menu">
  <div class="ui container">
    <%= link_to 'Rails Chat', root_path, class: 'item title' %>
    <div class="right menu">
      <% unless logged_in? %>
        <div class="item">
          <div class="ui buttons">
            <%= link_to signup_path do %>
              <button class="ui inverted orange button">Sign up</button>
            <% end %>

            <div class="or"></div>
            <%= link_to login_path do %>
              <button class="ui orange button">Log in</button>
            <% end %>
          </div>
        </div>
      <% else %>
        <div class="user-container item">
          <%= link_to current_user.username.capitalize, edit_user_path(current_user), class: 'ui inverted username' %>
          <%= link_to logout_path, method: :delete do %>
            <div class="item">
              <div class="ui inverted red button">Log out</div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
