<section>
  <h2 class="ui center aligned icon header">
    <i class="circular orange comments outline icon"></i>
    Let's Chat...
  </h2>

  <div class="ui two column grid">
    <div class="twelve wide column">
      <div class="ui fluid raised card">
        <div id="chatBox" class="chat-box">
          <%= render @messages %>
        </div>

        <div class="extra content">
          <%= form_for(@message,  html: { class: "ui reply form", role: "form" } , url: message_path, remote: true) do |f| %>
            <div class="field">
              <div class="ui fluid icon input">
                <%=
                  f.text_field :body,
                               placeholder: 'Enter a message...',
                               required: true,
                               class: 'ui fluid icon input',
                               id: 'messageBody'
                %>
                <%= f.button '<i class="bordered inverted orange icon edit"></i>'.html_safe, id: 'chatBtn' %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>

    <div class="four wide column">
      <div class="ui vertical inverted menu">
        <%= link_to 'Home', root_path, class: 'active item' %>
      </div>
    </div>
  </div>

  <script>
    // Get the container element
    var container = document.getElementById("chatBox")

    // Scroll to the bottom
    container.scrollTop = container.scrollHeight
  </script>
</section>
